body {
	background-color: white;
	color: black;
	font-family: "Arial",Helvetica,serif;
	font-size: 18px;
	margin: 0 auto;
}
#wrapper{
	width: 960px;
	margin: 0 auto;
}
/*.navbar {
	margin-top: 50px;
	border: 0px solid transparent !important;
	background-color: white !important;
}
.navbar .navbar-default{

}
.navbar-collapse {
	background-color: white;
	float: right;
}
#bs-example-navbar-collapse-7{
    margin-right: 130px;
}
.navbar-brand{
	background-color: #3c948b;
	color:white;
	margin-left: 60px !important;
	
}
